.byline {
	position: absolute;
	width: 700px;
	text-align: center;
	color: $third-color;
	text-transform: uppercase;
	font-size: $small;
	top: 74%;
	left: 50%;
	margin-left: -350px;
	text-align: center;
	letter-spacing: .1em;
	//@include text-shadow(rgba(blue, 0.2) 1px 1px 0, rgba(blue, 0.2) 2px 2px 0, rgba(blue, 0.2) 3px 3px 0);
}

.headline {
//	position: absolute;
//	color: $fourth-color;
}
